<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pho2Song</title>
</head>
<body>
    <h1>Home</h1>
    <h2>Functionalities:</h2>
    <div>
        <h3>Pho2Song</h3>
        <a href="http://localhost:8888/spotify-login"><button>Log me in with Spotify</button></a>
    </div>
    <div>
        <h3>Functionality x</h3>
        <h3>da implementare :)</h3>
    </div>
    <div>
        <h3>Functionality y</h3>
        <h3>da implementare :)</h3>
    </div>
    <div>
        <h3>Functionality z</h3>
        <h3>da implementare :)</h3>
    </div>
</body>
</html>