<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpotifyPlaylistsPrinter</title>
</head>
<body>
    <h1>Home</h1>
    <div>Get your playlists! Don't be hasty, that could take a minute...</div>
    <div></div><a href="http://localhost:8888/data"><button>Get my playlist!</button></a></div>
</body>
</html>