<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pho2Song - History Feature</title>
</head>

<body>
    <div class="container">
        <div class="row mx-auto my-2">
            <div class="col-lg-6 col-xl-6 col-xxl-6 mx-auto">
                <h3>Hey <%= p2susers.spotify_id %>, ecco com'è andata la tua esperienza su Pho2Song!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul>
                    <% for(i = 0; i < p2susers.playlists.length; i++) {//p2susers.playlists.forEach((playlist) => { %>
                        <li>
                            <div class="row">
                                <div class="col">
                                    <h3>
                                        <%= playlists[0].name %>:
                                    </h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <ul>
                                        <% ps2users.value.playlists.songs.forEach((song) => { %>

                                            <div class="row">
                                                <div class="col">
                                                    <p><%= song.name %></p>
                                                </div>
                                            </div>

                                        <% }) %>

                                    </ul>
                                </div>
                            </div>

                        </li>
                    <% }//) %>
                </ul>
            </div>
        </div>
    </div>
    <ul>

    </ul>
</body>

</html>