body { 
    padding-top: 65px; 
}


/* Stile radio list */

.form-check-input:checked {
    background-color: rgb(68, 209, 139);
    border-color: rgb(40, 128, 84);
}


/* Stile analysis section */

.progress-bar{
    background-color: rgb(40, 128, 84);
}

/* Stile footer */

footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.list-inline-item svg {
    font-size: 30px;
}

.link_footer a:any-link {
    color: rgb(68, 209, 139);
    text-decoration-line: none;
}

.link_footer a:hover {
    color: rgb(40, 128, 84);
}

.social_footer a:any-link {
    color: rgb(68, 209, 139);
}

.social_footer a:hover {
    color: rgb(40, 128, 84);
}