<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pho2Song</title>
</head>
<body>
    <br>
    <h1>Input</h1>
    <div>
        <h2>Google Foto</h2>
        <ul>
            <% albums.forEach(function(album){ %>
                <li><div><%=album.title%></div></li>
            <% }); %>
        </ul>
        <a href="http://localhost:8888/result"><button>Get my playlist!</button></a>
    </div>
    <div>
        <h2>Link</h2>
        <h3>da implementare :)</h3>
    </div>
    <br>
</body>
</html>