<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Document</title>
</head>

<body>

    <%- include("../partials/navbar.ejs"); %>

        <div class="container">
            <form">
                <div class="row">
                    <div class="col-lg-8 mx-auto mt-5 pt-5">
                        <h1 class="pb-2 text-center">Scegli un album da analizzare</h1>
                        <% playlists.forEach(playlist=> { %>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    <%= playlist.name %>
                                </label>
                            </div>
                        <% }) %>

                        <div class="row">
                            <div class="col-12 d-grid mt-2">
                                <button class="btn btn-primary btn-lg" type="submit">Analizza Playlist</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>






        <!-- Optional JavaScript -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
            </script>
</body>

</html>